<!DOCTYPE HTML>

<html>
    <head>
        <title>ALICON</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <style>
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
}
table.center {
  margin-left: auto;
  margin-right: auto;
}
</style>
    </head>
    <body>
    <a href="http://localhost:5000/access/data/alicon">ALICON.CSV</a></li>
    <canvas id="chart" width="600" height="200"></canvas>
    <script>
    var ctx = document.getElementById('chart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ['Day1', 'Day2', 'Day3', 'Day4', 'Day5', 'Day6','Day7','Day8','Day9','Day10'],
        datasets: [{
            label: 'Stock Market Prediction of ALICON',
            data: [607,607,610,605,605,605,575,558,570,577],
            fill:false,
            backgroundColor:'rgba(255, 99, 132, 0.2)',
            borderColor:  'rgba(153, 102, 255, 1)',
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
    </script>
        <table class="center">
        <caption>Prediction</caption>
    <tr>
        <td>Day Order</td>
        <td>Prediction Value</td>
    </tr>
    <tr>
        <td>Day1</td>
        <td>607.2272393348121</td>
    </tr>
    <tr>
        <td>Day2</td>
        <td>607.1691039919666</td>
    </tr>
    <tr>
        <td>Day3</td>
        <td>610.8253067651927</td>
    </tr>
    <tr>
        <td>Day4</td>
        <td>605.94404341465</td>
    </tr>
    <tr>
        <td>Day5</td>
        <td>605.0051934563899</td>
    </tr>
    <tr>
        <td>Day6</td>
        <td>605.0051934563899</td>
    </tr>
    <tr>
        <td>Day7</td>
        <td>575.4033083309473</td>
    </tr>
    <tr>
        <td>Day8</td>
        <td>558.223685215319</td>
    </tr>
    <tr>
        <td>Day9</td>
        <td>570.4372102328625</td>
    </tr>
    <tr>
        <td>Day10</td>
        <td>577.6380289351146</td>
    </tr>
</table>
    </body>

</html>